<template>
  <div>
    <cube-form
      :model="model"
      :schema="schema"
      :immediate-validate="false"
      @validate="validateHandler"
      @submit="submitHandler"
    ></cube-form>
  </div>
</template>

<script>
import { mapState } from "vuex";
import axios from 'axios';
export default {
  data() {
    return {
      validResult: "",
      model: {
        username: "",
        password: ""
      },
      // 表单验证结构模型
      schema: {
        fields: [
          {
            type: "input",
            modelKey: "username",
            label: "用户名",
            props: {
              placeholder: "请输入用户名",
              type: "text"
            },
            rules: {
              required: true
            },
            messages: {
              required: "用户名不能为空"
            }
          },
          {
            type: "input",
            modelKey: "password",
            label: "密码",
            props: {
              placeholder: "请输入用户名",
              type: "password",
              eye: { open: false }
            },
            rules: {
              required: true
            },
            messages: {
              required: "密码不能为空"
            }
          },
          {
            type: "submit",
            label: "登录"
          }
        ]
      }
    };
  },
  mounted() {
   axios.get('/api/goods', {
     params: {
       id:1
     }
   })
   .then(function (response) {
   })
   .catch(function (error) {
   })
  },
  watch: {
    $route(to, from) {
      // 如果没登录
      if (!this.token && this.redirect) {
        this.showAlert("请登录..");
      }
    }
  },
  computed: {
    ...mapState(["token"]),
    redirect: function() {
      return this.$route.query.redirect;
    }
  },
  methods: {
    // 提交注册
    async submitHandler(e) {
      e.preventDefault();
      let params = {...this.model};
      //解构数据模型
      const res = await this.$http.get("/api/login", {
        params:params
      });
      const { token, msg, code } = res.data;
      // 使用cookies操作token
      if (code === 0 && token) {
        // 存入storage
        localStorage.setItem('xtoken',token);
        this.$store.commit('setToken',token);

        // d登录成功跳转
        let redirect = this.$route.query.redirect || "/";
        this.$router.push({
          path: redirect
        });
      } else {
   
        localStorage.setItem('xtoken','');
         this.$store.commit('setToken','');
        this.showAlert(msg);  
      }
    },
    // 验证执行
    validateHandler(ret) {
      // 返回一个校验结果
      console.log("校验");

      console.log(ret);
    },
    // 显示提示框
    showAlert(title) {
      this.dialog = this.$createDialog({
        type: "alert",
        title: title,
        confirmBtn: {
          text: "确定",
          active: true
        }
      }).show();
    },
    confirm() {
      console.log(12312);
    }
  }
};
</script>

<style scoped>
</style>