<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/login" :class="{active:url==='/login'}" v-if="!isLogin">Login</router-link>
      <a v-if="isLogin" @click="handleLogout">Logout</a>
    </div>  
    <router-view/>
  </div>
</template>
<script>
import {mapGetters} from  'vuex';
export default {
  data() {
    return {
    }
  },
  computed:{
    url:function(){
      return this.$route.path
    },
    ...mapGetters(['isLogin'])
  },
  methods:{
    async handleLogout(){
        this.$http.get('/logout',{params:{
          r:Date.now()
        }});
    }
  }
}
</script>
<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.active{
      color: #42b983;
    };
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
